.container {
   width: 100%;
   margin: auto;
   position: relative;
   @include media-query(xs) {
      width: 100%;
      padding: {
         left: 10px;
         right: 10px;
      }
   }
   @include media-query(sm) {
      width: 95%;
   }
   @include media-query(md) {
      width: 85%;
   }
   @include media-query(lg) {
      width: 1170px;
   }

   @include media-query(xl) {
      width: 1344px;
   }
   @include media-query(gt-lg) {
      width: 1344px;
   }
}
.flex__center {
   display: flex;
   justify-content: center;
   align-items: center;
}

section {
   overflow: hidden;
   display: block;
   margin: {
      top: 100px;
      bottom: 100px;
   }

   @include media-query(gt-xs) {
      margin: {
         top: 120px;
         bottom: 120px;
      }
   }
   @include media-query(gt-md) {
      margin: {
         top: 150px;
         bottom: 150px;
      }
   }
}
