// fonst
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); // Poppins, inter

$main-font: "Poppins", sans-serif;
$base-font: "Inter", sans-serif;

// color
$white: #ffffff;
$light-gray: #d9dbe1;
$dark-blue: #263640;
$light-blue: #7591a3;
$gray: #929a9f;
$orange: #ff9900;
$light-purple: #e4e3e8;
$light-grayish: #c4c4c4;
$light-cyan-blue: #e6f0f4;
$light-grayish: #f9f9f9;
$light-white: #f4f5f7;
// readius
$main-button-rad: 5px;
$main-quote-rad: 10px;
$main-box-rad: 16px;
$main-img-section-rad: 8px;
