section.achievements {
   background-color: $white;
   > .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;
      // 140;
      @include media-query(gt-xs) {
         align-items: flex-start;
      }
      @media screen and (min-width: 1040px) {
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
      }

      > {
         .achievements__title {
            width: 100%;
            @include media-query(gt-xs) {
               max-width: 421px;
            }
            > {
               h1 {
                  text-align: center;
                  margin-bottom: 10px;
                  @include media-query(gt-xs) {
                     text-align: left;
                  }
               }
               p {
                  text-align: center;
                  @include media-query(gt-xs) {
                     text-align: left;
                  }
               }
            }
         }
         .achievements__score {
            display: flex;
            flex-wrap: wrap;
            row-gap: 28px;
            max-width: 556px;
            @include media-query(gt-sm) {
               row-gap: 37px;
            }
            @media screen and (max-width: 298px) {
               justify-content: center;
            }
            > .achievements__score--card {
               flex-basis: 50%;
            }
         }
      }
   }
}

section.our-clintes {
   .container {
      > .our-clintes__title {
         text-align: center;
         font-size: 26px;
         font-weight: 700;
         line-height: 31px;
         color: $dark-blue;
         margin-bottom: 47px;
      }
      > .our-clintes__client-cont {
         display: grid;
         grid-template-columns: repeat(2, auto);
         row-gap: 15px;
         @include media-query(gt-md) {
            grid-template-columns: repeat(4, auto);
            justify-content: space-between;
         }
         @media screen and (max-width: 311px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
         }
         > .our-clintes__card {
            justify-self: center;
         }
      }
   }
}
section.branches {
   > .container {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 50px;
      > {
         .branch__card {
            max-width: 100%;

            @include media-query(gt-xs) {
               max-width: 312px;
            }
            min-width: 200px;
            width: 100%;

            > img {
               width: 100%;
               display: block;
               margin-left: auto;
               margin-right: auto;
            }
            > .branch__card--title {
               margin: {
                  top: 18px;
                  bottom: 18px;
               }
            }
            > .branch__card--p {
               margin: {
                  bottom: 24px;
               }
            }
            > .branch__card--link {
               width: fit-content;
               gap: 16px;
               &:hover > img {
                  animation: link-arrow 1s infinite;
               }
            }
         }
      }
   }
}

@keyframes link-arrow {
   0% {
      margin-left: 0;
   }
   50% {
      margin-left: 10px;
   }
   100% {
      margin-left: 0;
   }
}
section.build {
   > .container {
      > {
         .build__title,
         .build__p {
            text-align: center;
         }
         .build__p {
            color: $dark-blue;
            margin: {
               top: 22px;
               bottom: 51px;
            }
         }
         .build__img-cont {
            overflow: hidden;
            width: 100%;
            @include media-query(gt-xs) {
               border-radius: $main-img-section-rad;
            }
            > img {
               width: 100%;
            }
         }
      }
   }
}

section.quote {
   background-color: $light-cyan-blue;
   position: relative;
   > .container {
      margin-top: 51px;
      margin-bottom: 66px;
      > {
         .quote__title {
            text-align: center;

            margin-bottom: 45px;
         }
         .quote__quote-cont {
            max-width: 854px;
            padding: 30px 29px 30px 70px;
            margin: {
               left: auto;
               right: auto;
               bottom: 62px;
            }
            background-color: $light-grayish;
            position: relative;
            border-radius: $main-quote-rad;
            @include media-query(gt-xs) {
               padding: 40px 32px 40px 92px;
            }
            &::before {
               // for quote icon
               content: "\201C";
               font-size: 55px;
               color: $dark-blue;
               position: absolute;
               top: 23px;
               left: 27px;
               font-family: $base-font;
               @include media-query(gt-xs) {
                  font-weight: 800;
                  font-size: 72px;
                  top: 16px;
                  line-height: 98px;
                  left: 40px;
               }
            }
            &::after {
               content: "";
               position: absolute;
               background-color: inherit;
               width: 24px;
               height: 14.8px;
               bottom: -14.8px;
               left: 48px;
               clip-path: polygon(50% 100%, 0 0, 100% 0);
            }
         }
         .quote__active-clintes {
            gap: 28px;
            flex-direction: column;
            @include media-query(gt-sm) {
               flex-direction: row;
            }
            > .quote__active-clintes--main-clinte {
               gap: 16px;
               > .clinte-info {
                  > span {
                     display: block;
                     margin: 0;
                  }
                  > .description {
                     font-weight: 600;
                     line-height: 27px;
                  }
               }
            }
            > .quote__active-clintes--other-clintes {
               gap: 50px;
               @include media-query(gt-xs) {
                  gap: 60px;
               }
               @include media-query(gt-sm) {
                  gap: 80px;
               }
               flex-wrap: wrap;
               > img {
                  width: auto;
               }
            }
         }
      }
   }
}

section.form {
   background-color: $white;
   > .container {
      position: relative;
      overflow: hidden;
      @include media-query(gt-xs) {
         border-radius: $main-box-rad;
      }
      background: linear-gradient(to bottom, #b3becd, #c1ccdb);
      background-color: red;
      min-height: 288px;
      > .form__bg {
         position: absolute;
         width: auto;
         z-index: 0;
         height: auto;
         left: 0;
         top: 0;
         > img {
            width: 100%;
            display: block;
         }
         display: none;
         @include media-query(gt-md) {
            display: block;
         }
      }
      > form {
         position: relative;
         z-index: 100;
         max-width: fit-content;
         margin: auto;
         @include media-query(gt-md) {
            margin-left: auto;
            margin-right: 128px;
         }
         > .form__title {
            margin: {
               top: 75px;
               bottom: 22px;
            }
         }
         > .form__input {
            display: block;
            border-radius: $main-button-rad;
            margin: auto;
            @include media-query(gt-xs) {
               display: inline;
            }
         }
         > .form__input--text {
            padding: 14px 16px;

            @include media-query(gt-xs) {
               border: {
                  top-right-radius: 0;
                  bottom-right-radius: 0;
               }
            }
            background-color: $light-white;
            color: $dark-blue;
            cursor: text;
         }
         > .form__input--submit {
            margin-top: 20px;
            padding: 14px 24px;
            @include media-query(gt-xs) {
               border: {
                  top-left-radius: 0;
                  bottom-left-radius: 0;
               }
               margin-left: -4px;
               margin-top: 0;
            }
            background-color: $dark-blue;
            color: $white;
         }
      }
   }
}
