// Buttons
.button {
   &-get-started {
      background-color: $light-blue;
      padding: 6px 15px;
      border-radius: $main-button-rad;
      color: $white;
      @include media-query(gt-xs) {
         padding: 8px 29px;
      }
   }
   &-main {
      background-color: $dark-blue;
      color: $white;
      padding: 19px 56px;
      border-radius: $main-button-rad;
      cursor: pointer;
      text-transform: capitalize;
   }
}
