// Buttons
.button {
   &-get-started {
      background-color: $light-blue;
      padding: 8px 29px;
      border-radius: $main-button-rad;
      color: $white;
   }
   &-main {
      background-color: $dark-blue;
      color: $white;
      padding: 19px 56px;
      border-radius: $main-button-rad;
      cursor: pointer;
      text-transform: capitalize;
   }
}

// Email Form
.email-form {
   &__submit-button {
      background-color: $dark-blue;
      padding: 8px 15px; // alpha
      border: {
         top-right-radius: $main-button-rad;
         bottom-right-radius: $main-button-rad;
      }
   }

   &__email-input {
      background-color: $light-white;
      border: {
         top-left-radius: $main-button-rad;
         bottom-left-radius: $main-button-rad;
      }
   }
}
