.landing__ratting--card {
   @media screen and (max-width: 770px) {
      display: none;
   }
   z-index: 300;
   position: absolute;
   background-color: $white;
   min-width: 223px;
   border-radius: $main-button-rad;
   padding: 12px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 21px;
   top: 83px;
   &.nth-1 {
      right: 19%;
      top: 83px;
      @include media-query(lt-lg) {
         right: 9.5%;
      }
   }
   &.nth-2 {
      right: 31.1%;
      top: 442px;
      @include media-query(lt-lg) {
         right: 15.6%;
         top: 350px;
      }
   }
   > {
      .img-cont {
         > img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
         }
      }
      .title-cont {
         > .name {
            font-size: 20px;
            font-weight: 500;
            color: $dark-blue;
         }
         > .star-cont {
            max-width: min-content;
         }
      }
   }
}
.achievements-card {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 14px;
   > .achievements-card--icon {
      > img {
         width: 48px;
         @include media-query(gt-xs) {
            max-width: 67px;
            width: auto;
         }
      }
   }
   > .achievements-card--title {
      > .count {
         color: $dark-blue;
         font-weight: 600;
         font-size: 20px;
         line-height: 30px;
         margin-bottom: -3px;
         @include media-query(gt-xs) {
            font-size: 32px;
            line-height: 48px;
            margin-bottom: -5px;
         }
      }
      > .name {
         color: $dark-blue;
      }
      > span {
         display: block;
      }
   }
}

.our-clintes__card {
   min-width: 139px;
   background-color: $white;
   border: 2px solid $light-grayish;
   border-radius: $main-button-rad;
   box-shadow: -40px 40px 70px 0 rgba(25, 25, 25, 0.04);
   padding: 23px 15px;
   gap: 11px;
   @include media-query(gt-xs) {
      width: 234px;
      padding: 37px 32px;
      gap: 14px;
   }
   > img {
      width: 30px;
   }
}
